@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
    height: 100%;
}

.greetings,
p,
h1, 
h2 {
    font-family: 'Noto Serif JP', serif;
    font-style: italic;
}

.wrapper{
	width: 80%;
	margin-left: 10%;
	background-color: #E6E6E6;
	display: inline-block;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #E6E6E6;
    padding: 5px;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background-color: #969696;
}
.headtext {
	height: 50px;
	background-color: #FFFFFF;
	font-size: 20px;
	font-family: 'Roboto Mono', sans-serif;
	text-align: right;
	line-height: 50px;
	font-style: bold;
	width: 100%;
	color: #414141;
}


ul  {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 20px;
} 

li a {
    text-decoration: none;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #848484;
    font-weight: 400;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.about_me {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.data {
    display: flex;
    align-items: center;
}

.fullname {
    margin-right: 20px;
    flex-basis: 750px;
}

.myImg {
    margin-top: 150px;
    padding-left: 20px;
    flex-basis: 450px;
}

.knowledge {
    display: flex;   
    justify-content: left;
    margin-left: 20px;	
}

.article {
    margin-top: 2em;   
}


p {
    font-size: 1.2rem;
    color: #08298A;
    padding-left: 20px;
}

.text {
	display: flex; 
    font-size: 1rem;
    color: #585858;      
    justify-content: left;
    margin-left: 20px;
}

h2 {
    text-align: center;
    color: #424242;
}

h1 {
    color: #08298A;
    text-align: center;
    font-size: 2rem;
}

.footer {
    background-color: #b8b8b8;
    flex: 0 0 auto;
}
